<section ng-controller="linkController">

    <header class="header">
        <h3><i class="fa fa-bar-chart-o"></i> Анализ ссылки</h3>
    </header>
    <div class="col-sm-12">
        <div class="col-sm-6">
            <form>
                <div class="form-group">
                    <input class="form-control" ng-model="link" type="text" placeholder="Введите ссылку на сюжет Яндекса">
                </div>
                <span class="text-danger" ng-show="!(error | empty)">[[error]]<br><br></span>
                <input type="submit" value="Отправить" ng-disabled="!link" class="btn btn-success" ng-click="checkLink(link)"><br/>
                <span ng-show="hosts | count"><b><br/>Сумма ТИЦ: [[hosts | sum:'rating']]</b></span>
            </form>
        </div>
    </div>

    <spinner ng-show="LoadingHosts"></spinner>

    <div ng-show="(hosts | count) > 0" class="col-sm-12">
        <table style="margin-top:15px;" class="table table-striped" ts-wrapper>
            <th ts-criteria="host">Домен</th>
            <th ts-criteria="rating">ТИЦ</th>
            <tr ng-repeat="host in hosts" ts-repeat ts-hide-no-data>
                <td><b>[[host.host]]</b></td>
                <td>[[host.rating]]</td>
            </tr>
        </table>
    </div>

</section>