<section ng-controller="indexController">

    <header class="header">
        <h3><i class="fa fa-bar-chart-o"></i> Анализ Топ-5 Яндекс новостей</h3>
    </header>
    <div class="col-sm-12">

        <tabset>

            <tab heading="Статистика ТИЦ федеральная" active="tab_active.items" select="selectItems()">
                <div style="margin-top:15px;">
                    <b>от</b> <datetimepicker min-date="minDate" max-date="maxDate" hour-step="1" minute-step="1" ng-model="items_time.date_from" show-meridian="false" date-format="dd.MM.yy" show-button-bar="false" date-options="dateOptions"></datetimepicker>
                    <b>до</b> <datetimepicker min-date="minDate" max-date="maxDate" hour-step="1" minute-step="1" ng-model="items_time.date_to" show-meridian="false" readonly-input="true" date-format="dd.MM.yy" show-button-bar="false" date-options="dateOptions"></datetimepicker>
                    <button type="submit" ng-click="selectTime()" class="btn btn-default">Показать</button>
                    {#<button type="submit" ng-click="downloadItems()" class="btn btn-default">Скачать</button>#}
                </div>
                <pagination class="pull-right" ng-change="changePage(page)" ng-show="(items.count/pageSize) > 1" total-items="items.count" first-text="Первая" last-text="Последняя" direction-links="false" items-per-page="pageSize" ng-model="page" max-size="10" class="pagination-m" boundary-links="true" rotate="false" num-pages="numPages"></pagination>

                <table ng-show="(items.data | count) > 0" class="table table-striped">
                    <thead>
                    <th class="border-right">Время</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    </thead>
                    <tr ng-repeat="item in items.data">
                        <td class="border-right">[[item.id*1000 | msk_date:'dd.MM.yy HH:mm']]</td>
                        <td ng-class="(rating.new ? 'new-link' : '')" ng-repeat="rating in item.items"><b>[[rating.rating | numberFormat:0:'.':' ']]</b> <span tooltip="Количество новостей в сюжете">[[rating.hosts ? "(" + rating.hosts + ")" : ""]]</span> <br> <a ng-class="(rating.new ? 'new-link' : '')" href="[[rating.link]]" target="_blank">[[rating.text]]</a></td>
                    </tr>
                </table>
                <p class="m-t" ng-show="((items.data | count) <= 0) && !LoadingItems"><b>Результатов нет</b></p>
            </tab>

            <tab heading="Статистика ТИЦ по регионам" active="tab_active.items_region" select="changeTab('items_region')">
                <div style="margin-top:15px;">
                    <div class="col-md-3" style="padding-right:0; margin-top:33px;">
                        <select class="form-control" style="display:inline-block;" ng-options="region._id as region.text for region in cy_regions.data" ng-model="cy_region_id" ng-change="download_block = true"></select>
                    </div>
                    <div class="col-md-6">
                        <b>от</b> <datetimepicker min-date="minDate" max-date="maxDate" hour-step="1" minute-step="1" ng-model="items_region_time.date_from" show-meridian="false" date-format="dd.MM.yy" show-button-bar="false" date-options="dateOptions"></datetimepicker>
                        <b>до</b> <datetimepicker min-date="minDate" max-date="maxDate" hour-step="1" minute-step="1" ng-model="items_region_time.date_to" show-meridian="false" readonly-input="true" date-format="dd.MM.yy" show-button-bar="false" date-options="dateOptions"></datetimepicker>
                        <button type="submit" ng-click="selectTime(cy_region_id)" ng-disabled="cy_region_id == 0" class="btn btn-default">Показать</button>
                        {#<button type="submit" ng-click="downloadItems(cy_region_id)" ng-disabled="cy_region_id == 0" class="btn btn-default">Скачать</button>#}
                    </div>
                </div>

                <pagination class="pull-right" ng-change="changePage(page)" ng-show="(items_region.count/pageSize) > 1" total-items="items_region.count" first-text="Первая" last-text="Последняя" direction-links="false" items-per-page="pageSize" ng-model="page" max-size="10" class="pagination-m" boundary-links="true" rotate="false" num-pages="numPages"></pagination>

                <table ng-show="(items_region.data | count) > 0" class="table table-striped">
                    <thead>
                    <th class="border-right">Время</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    </thead>
                    <tr ng-repeat="item in items_region.data">
                        <td class="border-right">[[item.id*1000 | msk_date:'dd.MM.yy HH:mm']]</td>
                        <td ng-class="(rating.new ? 'new-link' : '')" ng-repeat="rating in item.items"><b>[[rating.rating | numberFormat:0:'.':' ']]</b> <span tooltip="Количество новостей в сюжете">[[rating.hosts ? "(" + rating.hosts + ")" : ""]]</span> <br> <a ng-class="(rating.new ? 'new-link' : '')" href="[[rating.link]]" target="_blank">[[rating.text]]</a></td>
                    </tr>
                </table>
                <p class="m-t col-md-12" ng-show="((items_region.data | count) <= 0) && !LoadingItems"><b>Результатов нет</b></p>
            </tab>

            <tab heading="Упоминания доменов" active="tab_active.sources" select="selectSources()">
                <div class="m-t">
                    <div class="col-md-3" style="padding-right:0;">
                        <select class="form-control" ng-options="region._id as region.text for region in regions.data" ng-model="region_id" ng-change="download_block = true"></select>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input date-range-picker
                                   min="datepicker.min"
                                   max="datepicker.max"
                                   ng-model="datepicker.date"
                                   class="form-control"
                                   type="text" value=""
                                   options="datepicker.options"
                                   aria-describedby="calendar">
                            <span class="input-group-addon" id="calendar">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>

                    </div>
                    {#<b>от</b> <div class="datetimepicker-wrapper"><input datepicker-popup="dd.MM.yyyy" is-open="status.from_opened" ng-click="status.from_opened = true;" class="form-control" min-date="minDate" max-date="maxDate" ng-model="sources_time.date_from" show-button-bar="false" date-options="dateOptions"/></div>#}
                    {#<b>до</b> <div class="datetimepicker-wrapper"><input datepicker-popup="dd.MM.yyyy" is-open="status.to_opened" ng-click="status.to_opened = true;" class="form-control" min-date="minDate" max-date="maxDate" ng-model="sources_time.date_to" show-button-bar="false" date-options="dateOptions"/></div>#}
                    <button type="submit" ng-click="getSources(region_id); download_block=false;" ng-disabled="(region_id == '0' || LoadingItems)" class="btn btn-default m-r">Показать</button>
                    <button type="submit" ng-click="downloadSources(region_id)" ng-disabled="(region_id == '0' || (sources.data | empty) || download_block || LoadingItems)" class="btn btn-default"><i class="fa fa-file-excel-o m-r-xs"></i>Скачать</button>
                    <button type="submit" ng-click="downloadPdf(region_id)" ng-disabled="(region_id == '0' || (sources.data | empty) || download_block || LoadingItems)" class="btn btn-default"><i class="fa fa-file-pdf-o m-r-xs"></i>Скачать</button>

                    <spinner ng-show="LoadingItems"></spinner>

                    <table ng-show="(sources.data | count) > 0" class="table table-striped m-t" ts-wrapper>
                        <th ts-criteria="domain|lowercase" ng-click="setSortField('domain')">Домен</th>
                        <th ts-criteria="new" ng-click="setSortField('new')">Оперативность</th>
                        <th ts-criteria="total" ng-click="setSortField('total')">Общее кол-во упоминаний</th>
                        <th ts-criteria="categories_count" ng-click="setSortField('categories_count')">Кол-во категорий</th>
                        <th ts-criteria="rating" ng-click="setSortField('rating')">ТИЦ</th>
                        <tr ng-repeat="source in sources.data" ts-repeat ts-hide-no-data>
                            <td><b>[[source.domain]]</b></td>
                            <td>[[source.new]]</td>
                            <td>[[source.total]]</td>
                            <td>[[source.categories_count]]</td>
                            <td>[[source.rating]]</td>
                        </tr>
                    </table>
                    <p class="m-t" ng-show="((sources.data | count) <= 0) && !LoadingItems"><b>Результатов нет</b></p>
                </div>
            </tab>

            <tab heading="Проверка ТИЦ" active="tab_active.cy" select="changeTab('cy')">
                <div style="margin-top:15px;">
                    <div class="col-sm-6">
                        <form>
                            <div class="form-group">
                                <input class="form-control" ng-model="domain" type="text" placeholder="Введите домен">
                            </div>
                            <input type="submit" value="Отправить" ng-disabled="!domain" class="btn btn-success" ng-click="checkCy(domain)"><br/>
                        </form>
                        <spinner ng-show="LoadingItems"></spinner>
                        <span ng-show="cy != null"><b><br/>ТИЦ домена: [[cy]]</b></span>
                        <span class="text-danger" ng-show="!(error | empty)"><br>[[error]]<br><br></span>
                    </div>
                </div>
            </tab>

        </tabset>
    </div>

</section>