<div class="container nav-brand">
    <h1><i class="fa fa-exclamation-triangle fa-6"></i> На сайте ведутся технические работы</h1>
    <h2>Попробуйте обновить страницу через несколько минут</h2>
</div>
