<section id="content">
    <div class="row m-n">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="text-center m-b-lg">
                <h1 class="h text-black animated bounceInDown">404</h1>
                <h1 class="h2 text-black animated bounceInDown">Запрашиваемая Вами страница не существует</h1>
            </div>
            <div class="list-group m-b-sm bg-success m-b-lg">
                <a href="/" class="list-group-item bg-black">
                    <span class="pull-left"><span class="fa fa-fw fa-home"></span></span>&nbsp;&nbsp;Вернуться на главную страницу
                    <span class="pull-right"><span class="fa fa-fw fa-arrow-right"></span></span>
                </a>
            </div>
        </div>
    </div>
</section>