user  {{ nginx_user }};

worker_processes  {{ nginx_worker_processes }};

events {
    worker_connections  {{ nginx_worker_connections }};
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format main      '$remote_addr - $remote_user [$time_local] '
                         '"$request" $status $bytes_sent '
                         '"$http_referer" "$http_user_agent" '
                         '"$gzip_ratio"' "$http_x_forwarded_for";

    log_format download  '$remote_addr - $remote_user [$time_local] '
                         '"$request" $status $bytes_sent '
                         '"$http_referer" "$http_user_agent" '
                         '"$http_range" "$sent_http_content_range"';

    sendfile         on;
    tcp_nopush       on;
    tcp_nodelay      on;

    gzip  on;
    gzip_disable "msie6";
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;
    gzip_comp_level 5;

    server_tokens off;
    server_names_hash_bucket_size 64;

    client_max_body_size {{ nginx_client_max_body_size }};
    keepalive_timeout  {{ nginx_keepalive_timeout }};


    {% if nginx_proxy_cache_path %}
    proxy_cache_path {{ nginx_proxy_cache_path }};
    {% endif %}

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*.conf;
}
