<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>{{ config.app_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!--[if lt IE 9]>
    <script type="text/javascript">
        window.location = "/index/old_browser";
    </script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/build/css/css.min.css" />
    <script src="/build/js/scripts.min.js"></script>

</head>

<body ng-app="yanews" ng-cloak>

<section class="hbox stretch">

    {{ content() }}

</section>

</body>
</html>