{% set pages = [
    ['beanstalk', 'Beanstalk'],
] %}
<header class="header bg-dark bg-gradient">
    <ul class="nav nav-tabs">
        {% for i, t in pages %}
            {% if page == pages[i][0] %}
                <li class="active"><a href="/{{ pages[i][0] }}">{{ pages[i][1] }}</a></li>
            {% else %}
                <li><a href="/{{ pages[i][0] }}">{{ pages[i][1] }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</header>
