{% include 'stats/_statsHeader.twig' %}

<meta http-equiv='refresh' content='5'>

<div class="col-lg-12 wrapper">
    <div class="panel">
        <header class="panel-heading bg-light">
            <ul class="nav nav-tabs nav-justified">
                {% for tube in tubes %}
                    <li {% if active_tube == tube %} class="active" {% endif %}><a href="/beanstalk/{{ tube }}">{{ tube }}</a></li>
                {% endfor %}
            </ul>
        </header>
        <div class="panel-body">
            {#Auto refresh every 5 seconds <a href="/beanstalk/{{ active_tube }}/clear"><b>Clear</b></a>#}
            Auto refresh every 5 seconds
            <br><br>
            <div class="col-md-6">
                {% for key, stat in stats %}
                    {{ key }} {{ stat }}<br>
                {% endfor %}
            </div>
            <div class="col-md-6">
                {% for key_tube, stat_tube in stats_tube %}
                    {{ key_tube }} {{ stat_tube }}<br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>