{% include 'stats/_statsHeader.twig' %}

<div class="col-lg-12 wrapper">

    {% for project in projects %}
    <div class="panel">
        <header class="panel-heading {% if project.active %}bg-success{% else %}bg-light{% endif %}">
            <b>{{ project.name }}</b> ({{ project._id }})
        </header>
        <div class="panel-body">
            {% for metrics, value in project.msgCounter %}
                {{ metrics }} -> <b {% if value > 0 %}class="text-success"{% endif %}>{{ value }}</b><br>{% if metrics == 'total' %}<br>{% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</div>