<div class="report">
    <div class="report-header">
        <div class="report-header-logo">
            <img class="logo" src="/img/logo.png">
        </div>
        <div class="report-header-title">
            <div class="report-header-title-text uppercase">Исследование новостей яндекс</div>
            <div class="report-header-title-region">{{ region }}</div>
            <div class="report-header-title-date">c {{ date_from }} по {{ date_to }} </div>
        </div>
    </div>
    <table class="table table-bordered table-striped report-table">
        <tr>
            <td style="width:9%" class="uppercase text-center head">
                Место
            </td>
            <td style="width:20%" class="uppercase text-center head">
                СМИ
            </td>
            <td style="width:27%" class="uppercase text-center head">
                {% if sort_field == 'new' %}
                    <img src="/img/sort-amount-desc.png" class="m-r" style="height:50px;">
                {% endif %}
                Оперативность
            </td>
            <td style="width:27%" class="uppercase text-center head">
                {% if sort_field == 'total' %}
                    <img src="/img/sort-amount-desc.png" class="m-r" style="height:50px;">
                {% endif %}
                Общее кол-во упоминаний
            </td>
            <td style="width:15%" class="uppercase text-center head">
                ТИЦ
            </td>
        </tr>
        {% for item in items %}
            <tr class="{% if loop.index0 is even %} table-bg-even {% else %} table-bg-odd {% endif %} ">
                {% if show_position_change %}
                    <td class="position">
                        {% if (loop.index < item.previous_position) or (item.previous_position == 0) %}
                            <span class="position-up m-r"> {% if item.previous_position > 0 %} {{ item.previous_position - loop.index }} {% else %} {{ full_count - loop.index  }} {% endif %} </span>
                            <img src="/img/sort-up.png" class="m-r" style="height:20px; width:20px;">
                        {% elseif loop.index > item.previous_position %}
                            <span class="position-down m-r">{{ loop.index - item.previous_position }}</span>
                            <img src="/img/sort-down.png" class="m-r" style="height:20px; width:20px;">
                        {% endif %}
                        {{loop.index}}
                    </td>
                {% else %}
                    <td>
                        {{loop.index}}
                    </td>
                {% endif %}

                <td class="domain"><img src="{{item.logo}}" class="m-r">{{item.domain}}</td>
                <td>{{item.new}}</td>
                <td>{{item.total}}</td>
                <td>{% if item.rating > 0 %} {{ item.rating }} {% else %} недоступен {% endif %}</td>
            </tr>
        {% endfor %}
    </table>
</div>

