@media (max-width: 767px) and (min-width: 0px) {

    .rex_message_item {
        width: 50%;
    }

    .logo_main {
        width: 100%;
        max-width: 242px;
    }

    li > .nav_line {
        display: none;
    }

    .media_text {
        position: relative;
        display: block;
    }

    .category_list > li {
        max-height: 60px;
        padding: 15px 0;
        overflow: hidden;
    }

    .messages_category {
        float: right;
    }

    .icon_category_section {
        float: left;
        width: 30px;
        padding: 0;
        height: 30px;
    }

    .category_name {
        display: block;
    }

    .v-align {
        text-align: left;
        padding: 4px 80px 0 50px;
    }

    .messages_category {
        padding-top: 0;
    }

    .nav_fix {
        margin: 0;
        width: 100%;
    }

    .category_dropdown.open .category_list {
        background-color: #005871;
        padding-bottom: 20px;
    }

    .nav_blue > .container-fluid > .navbar-collapse {
        margin-left: -30px;
        margin-right: -30px;
    }

    li.rex_user,
    li.rex_logout {
        position: relative;
        width: 100%;
    }

    .nav_blue .navbar-nav > li {
        margin-left: 0;
    }

    .nav_icon {
        bottom: 0;
        display: block;
        float: left;
        margin-right: 12px;
    }

    .filter_select {
        width: 80px;
        float: left;
        margin-left: 30px;
    }

    .panel_instruments {
        margin: 0 -15px;
    }

    .panel_instruments > .dropdown {
        padding-left: 15px;
    }

    .select_social_list {
        border: none;
        background-color: #006180;
        color: #fff;
        border-radius: 0;
    }

    .panel_instruments > .dropdown.open > ul > li > a,
    .panel_instruments > .dropdown.open > ul > li > a:hover,
    .panel_instruments > .dropdown.open > ul > li > a:focus {
        background-color: #006180 !important;
        color: #fff !important;
    }

    .rex_header {
        position: absolute;
        width: 100%;
        height: 180px;
        z-index: 1;
    }

    .rex_content {
        position: absolute;
        width: 100%;
        top: 180px;
        bottom: 0;
        overflow: auto;
    }

}

@media (max-width: 600px) {
    .rex_message_item {
        width: 100%;
    }
}

@media (min-width: 768px) {

    .nav_blue > .container-fluid {
        padding-left: 0;
    }

    .rex_message_item {
        width: 50%;
    }

    .logo_main {
        width: 100%;
    }

    .nav_fix {
        width: 65%;
    }

    .brand_logo {
        width: 200px;
    }

    .category_dropdown {
        width: 62%;
    }

    .icon_category_section {
        padding: 15px 0;
        height: 80px;
    }

    .category_name {
        display: table;
        width: 100%;
        font-size: 12px;
        padding: 0 5px;
        height: 50px;
    }

    .v-align {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .messages_category {
        padding-top: 10px;
    }

    li.rex_logout {
        right: 0;
        position: absolute;
    }

    li.rex_user {
        right: 100px;
        position: absolute;
    }

    .nav_blue .navbar-nav > li {
        margin-left: 1px;
    }

    .media_text {
        display: none;
        float: left;
    }

    .nav_icon {
        position: relative;
        bottom: 2px;
        display: inline-block;
    }

    .rex_header {
        position: absolute;
        width: 100%;
        height: 100px;
    }

    .rex_content {
        position: absolute;
        width: 100%;
        top: 100px;
        bottom: 0;
        overflow: auto;
    }

}

@media (min-width: 1024px) {

    .rex_message_item {
        width: 33.333333%;
    }

    .category_list {
        padding: 0;
    }

    .category_list > li {
        width: 12.5%;
        float: left;
        padding: 0;
        text-align: center;
        height: 185px;
    }

    .category_list > li > a {
        padding: 0;
    }
}

@media (max-width: 1440px) and (min-width: 768px) {
    .category_list > li {
        width: 25%;
        float: left;
        padding: 0;
        text-align: center;
        height: 185px;
    }

    .category_list {
        padding: 0;
    }

    .category_list > li > a {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .rex_message_item {
        width: 25%;
    }
}

@media (min-width: 1600px) {
    .rex_message_item {
        width: 20%;
    }
}

