.word-break-all {
    word-break: break-all;
}
.border-right {
    border-right: 1px solid #ddd
}

.new-link {
    color: #3C6CCF;
}
.hbox {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}
.hbox > aside,
.hbox > section {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding: 0;
    float: none;
}
.hbox > aside.show,
.hbox > aside.hidden-sm,
.hbox > section.show,
.hbox > section.hidden-sm {
    display: table-cell !important;
}
.hbox.stretch {
    height: 100%;
}
.hbox > aside,
.hbox > section {
    padding: 0 !important;
}
@media print {
    html,
    body,
    .hbox,
    .vbox {
        height: auto;
    }
    .vbox > section,
    .vbox > footer {
        position: relative;
    }
}
html.layout-box,
html.layout-box body,
html.layout-box .hbox,
html.layout-box .vbox {
    height: auto;
}
.header,
.footer {
    min-height: 50px;
    padding: 0 15px;
}
.header > p,
.footer > p {
    margin-top: 15px;
    display: inline-block;
}
.header > .btn,
.header > .btn-group,
.header > .btn-toolbar,
.footer > .btn,
.footer > .btn-group,
.footer > .btn-toolbar {
    margin-top: 10px;
}
.header > .btn-lg,
.footer > .btn-lg {
    margin-top: 0;
}
.header .nav-tabs,
.footer .nav-tabs {
    border: none;
    margin-left: -15px;
    margin-right: -15px;
}
.header .nav-tabs > li a,
.footer .nav-tabs > li a {
    border: none !important;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}
.header .nav-tabs > li a:hover,
.header .nav-tabs > li a:focus,
.footer .nav-tabs > li a:hover,
.footer .nav-tabs > li a:focus {
    background-color: transparent;
}
.header .nav-tabs > li.active a,
.footer .nav-tabs > li.active a {
    color: #717171;
}
.header .nav-tabs > li.active a,
.header .nav-tabs > li.active a:hover,
.footer .nav-tabs > li.active a,
.footer .nav-tabs > li.active a:hover {
    background-color: #f3f5f9;
}
.header .nav-tabs.nav-white > li.active a,
.header .nav-tabs.nav-white > li.active a:hover,
.footer .nav-tabs.nav-white > li.active a,
.footer .nav-tabs.nav-white > li.active a:hover {
    background-color: #fff;
}
.header.navbar,
.footer.navbar {
    min-height: 0;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(50,50,50,0.3);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50,50,50,0.6);
}
::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: rgba(50,50,50,0.1);
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(50,50,50,0.2);
}
html,
body {
    min-width: 750px;
    min-height: 100%;
}
body {
    min-height: 550px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #717171;
    background-color: #f3f5f9;
}
.btn {
    font-weight: 500;
}
.spinner {
    margin: 40px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #aaa;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}
a {
    color: #575757;
    text-decoration: none;
}
a:hover, a:focus {
    color: #7d7d7d;
    text-decoration: none;
}
.m-n {
    margin: 0;
}
.list-group {
    border-radius: 2px;
}
.list-group.no-radius .list-group-item {
    border-radius: 0 !important;
}
.list-group.no-borders .list-group-item {
    border: none;
}
.list-group.no-border .list-group-item {
    border-width: 1px 0;
}
.list-group.no-bg .list-group-item {
    background-color: transparent;
}
.list-group-item {
    border-color: #ebeff6;
    padding-right: 15px;
}
.list-group-item.media {
    margin-top: 0;
}
.list-group-item.active {
    border-color: #5dcff3 !important;
    background-color: #5dcff3 !important;
}
.list-group-item.active,
.list-group-item.active .text-muted {
    color: #ebf9fe;
}
.list-group-item.active a {
    color: #fff;
}
.list-group-alt .list-group-item:nth-child(2n+2) {
    background-color: rgba(0,0,0,0.02);
}
.list-group-lg .list-group-item {
    padding-top: 15px;
    padding-bottom: 15px;
}
.list-group-sp .list-group-item {
    margin-bottom: 5px;
    border-radius: 3px;
}
.list-group-item > .badge {
    margin-right: 0;
}
.list-group-item > .icon-chevron-right {
    float: right;
    margin-top: 4px;
    margin-right: -5px;
}
.list-group-item > .icon-chevron-right + .badge {
    margin-right: 5px;
}
.h {
    font-size: 170px;
    font-weight: 300;
    background-image: -webkit-linear-gradient(92deg,#fb83fa,#00aced);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.m-t {
    margin-top:15px;
}
.m-r {
    margin-right:15px;
}
.m-b {
    margin-bottom:15px;
}
.m-l {
    margin-left:15px;
}
.m-t-xs {
    margin-top:5px;
}
.m-r-xs {
    margin-right:5px;
}
.m-b-xs {
    margin-bottom:5px;
}
.m-l-xs {
    margin-left:5px;
}
.m-t-none {
    margin-top:0;
}
.m-r-none {
    margin-right:0;
}
.m-b-none {
    margin-bottom:0;
}
.m-l-none {
    margin-left:0;
}
#calendar {
    background-color: #08c;
    color: #FFFFFF;
}

/* PDF */
.report-table {
    margin:90px;
    width: 100%;
}
.report-header {
    height: 185px;
    padding: 30px 95px;
    background-color: #D1DAE3;
}
.report-header-logo {
    float:left;
    width: 440px;
}
.logo {
    height:189px;
}
.report-header-title {
    width: 740px;
    float:right;
    font-family: "GothamProBold";
    letter-spacing:7px;
    font-size:30px;
    margin-top:40px;
}
.report-header-title-text {
    color: #202731;
    text-align:right;
}
.report-header-title-date {
    color: #3C89D7;
    text-align:right;
}
.report-header-title-region {
    color: #202731;
    text-align:right;
}
.report-text-main {
    color: #222632;
}
@font-face {
    font-family: "GothamProRegular";
    src: url("/fonts/GothamProRegular.eot");
    src: url("/fonts/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("/fonts/GothamProRegular.woff") format("woff"),
    url("/fonts/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProBold";
    src: url("/fonts/GothamProBold.eot");
    src: url("/fonts/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("/fonts/GothamProBold.woff") format("woff"),
    url("/fonts/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.uppercase {
    text-transform: uppercase;
}
.report-table .head {
    font-family: "GothamProBold";
    background-color: #3C89D7;
    color:#FFFFFF;
    letter-spacing:4px;
    font-size:24px;
    height: 130px;
}
.table-bg-even td {
    background-color: #F5F8FD;
}
.table-bg-odd td {
    background-color: #FFFFFF;
}
.report-table td {
    font-family: "GothamProRegular";
    color: #222631;
    text-align: center;
    font-size:30px;
    height: 140px;
}
.report-table td.domain {
    padding: 40px;
    text-align:left;
}
.report-table td.position {
    padding-right:50px;
    text-align:right;
}
.position-up {
    color: #52BE09;
}
.position-down {
    color: #ED5959;
}